<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="google-signin-client_id" content="608787834828-71306h3l0d8tfg0ooudb8enkm7dd1ta3.apps.googleusercontent.com">
    <title>Platform</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.1/vue.js"></script>

    <style>
      body {
        font-family: helvetica;
      }
      .borderDiv {
        border: 2px solid black
      }
      .live {
        border-color: green;
      }
      .senderName {
        color: blue;
      }
      .roomName {
        color: red;
      }
      .genMsg {
        font-size: 10px;
        width: 200px;
        padding: 10px;
        border: 5px solid grey;
        margin: 15px;
      }
      .helpMsg {
        font-size: 10px;
        width: 200px;
        padding: 10px;
        border: 5px solid green;
        margin: 15px;
      }
      div form {
        margin: 15px;
      }
    </style>
  </head>
  <body>
    <div id='app'>

      <!-- google sign-in -->
      <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark" ref="signIn"></div>

      <div id='teacherView' v-if='teacher.is'>
        <!-- Teacher see this -->
        <h3>Teacher</h3>

        <button v-on:click="joinRoom('Alg1')">Alg1</button>
        <button v-on:click="leaveRoom('Alg1')" v-bind:disabled="!connections.Alg1">Leave</button>
        <br>

        <div v-show="connections.Alg1" id='TeacherAlg1Chat'>
          <div class="borderDiv" id='TeacherAlg1ChatBox'></div>
          <div class="borderDiv">
            <div class="borderDiv" v-bind:id="line.lineID" v-for="(line,index) in teacher.Alg1.currentLines">
              <form class="lineReply" action="" v-on:submit.prevent='lineMessage(teacher.Alg1.currentLines[n].lineID,teacher.Alg1.currentReply)'>
                <input type="text" v-model="teacher.Alg1.currentReply" name="msg">
                <button>Reply</button>
              </form>
            </div>
          </div>
          <br>
          <form action="" v-on:submit.prevent="message(teacher.Alg1.currentInput,'Alg1')">
            <input type="text" v-model="teacher.Alg1.currentInput" name="msg">
            <button>Public Msg</button>
          </form>
        </div>
        <br>

        <button v-on:click="joinRoom('Geo')">Geo</button>
        <button v-on:click="leaveRoom('Geo')" v-bind:disabled="!connections.Geo">Leave</button>
        <br>

        <div v-show='connections.Geo' id='TeacherGeoChat'>
          <div class="borderDiv" id='TeacherGeoChatBox'></div>
          <div>
            <div class="borderDiv" v-bind:id="line.lineID" v-for="(line,index) in teacher.Geo.currentLines">
              <form class="lineReply" action="" v-on:submit.prevent='lineMessage(teacher.Geo.currentLines[n].lineID,teacher.Geo.currentReply)'>
                <input type="text" v-model="teacher.Geo.currentReply" name="msg">
                <button>Reply</button>
              </form>
            </div>
          </div>
          <br>
          <form action="" v-on:submit.prevent="message(teacher.Geo.currentInput,'Geo')">
            <input type="text" v-model="teacher.Geo.currentInput" name="msg">
            <button>Public Msg</button>
          </form>
        </div>

      </div>

      <div id='studentView' v-if='student.is'>
        <!-- Student see this -->
        <h3>Student</h3>
        <div id='StudentAlg1Chat' v-if="liveRooms.Alg1">
          <button v-on:click="joinRoom('Alg1')">Alg1</button>
          <button v-on:click="leaveRoom('Alg1')" v-bind:disabled="!connections.Alg1">Leave</button>
          <br>

          <div class="borderDiv" id='StudentAlg1ChatBox'></div>
          <div class="borderDiv" v-bind:id="student.Alg1.currentLine.lineID"></div>
          <br>
          <div v-show='connections.Alg1'>
            <form action="" v-on:submit.prevent="helpMe('Alg1')">
              <button v-if="!student.Alg1.hasLine">I need help!</button>
            </form>
            <form action="" v-if='student.Alg1.hasLine' v-on:submit.prevent='lineMessage(student.Alg1.currentLine.lineID,student.Alg1.currentInput)'>
                <input type="text" v-model="student.Alg1.currentInput" name="msg">
                <button>Send</button>
            </form>
          </div>

        </div>
        <br>

        <div id='StudentGeoChat' v-if="liveRooms.Geo">
          <button v-on:click="joinRoom('Geo')">Geo</button>
          <button v-on:click="leaveRoom('Geo')" v-bind:disabled="!connections.Geo">Leave</button>
          <br>

          <div class="borderDiv" id='StudentGeoChatBox'></div>
          <div class="borderDiv" v-bind:id="student.Geo.currentLine.lineID"></div>
          <br>
          <div v-show='connections.Geo'>
            <form action="" v-on:submit.prevent="helpMe('Geo')">
              <button v-if='student.Geo.hasLine'>I need help!</button>
            </form>
            <form action="" v-if='student.Geo.hasLine' v-on:submit.prevent='lineMessage(student.Geo.currentLine.lineID,student.Geo.currentInput)'>
                <input type="text" v-model="student.Geo.currentInput" name="msg">
                <button>Send</button>
            </form>
          </div>
        </div>
      </div>

    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="app.js"></script>
  </body>
</html>
